<nav id="sidebar" class="bg-light border-right" [ngClass]="{'active': this.toggleStatus.status$ | async}" [ngClass]="{'dash': isDashboard}">
  <div class="sidebar-heading">
    <button type="button" class="close" aria-label="Close" (click)="onToggle($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="isClient; else admin">
    <app-client-links></app-client-links>
  </ng-container>
  <ng-template #admin>
    <app-admin-links></app-admin-links>
  </ng-template>
</nav>