<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <img src="../../../../assets/img/web/undraw_close_tab_uk6g.svg" alt="Sorry We are Closed" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            <h2>Lo siento hemos cerrado el delivery :(</h2>
        </div>
        <div class="col-12">
          <h4>Horarios de Atencion: </h4>
          <h5>Nocturno</h5>
          <p>Lunes a Domingo 20:00 a 24:00</p>
          <h5>Diurno</h5>
          <p>Sabados y Domingo 11:00 a 15:00</p>
        </div>
    </div>
</div>
