<div class="container-fluid">
  <section class="search shadow">
    <div class="search-wrap">
      <input type="text" class="input-search" placeholder="Busca tu plato o bebida favorita">
      <button class="btn btn-light"><i class="bi bi-search"></i></button>
    </div>
  </section>
  <div class="row my-5">
    <div class="col-md-12">
      <app-carousel></app-carousel>
    </div>
  </div>
  <!-- <div class="row m-b-2">
    <div class="col-12 col-md-6 col-lg-4">
      <p>row 3 col-1</p>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <p>row 3 col-2</p>
    </div>
  </div>
</div> -->
<app-footer></app-footer>