<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
  <div id="mobile">
    <button class="navbar-toggler" type="button" (click)="onToggle($event)">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="[ '/home' ]">The Good Taste</a>
  </div>
  <div class="collapse navbar-collapse" id="desktop">
    <div class="container">
        <a class="navbar-brand" [routerLink]="[ '/home' ]">The Good Taste</a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/menu' ] " routerLinkActive="active">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/login' ] " routerLinkActive="active" *ngIf="!cliente">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/cart' ] " routerLinkActive="active" *ngIf="cliente">
                    <i class="bi bi-cart"></i><span class="badge badge-light">{{cartLength}}</span>
                </a>
            </li>
            <li class="nav-item dropdown" *ngIf="cliente">
                <a class="nav-link dropdown-toggle" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="cliente.photoURL == null" src="https://www.w3schools.com/howto/img_avatar.png"  alt="user default picture" width="50" height="50" class="rounded-circle" loading="lazy">
                    <img *ngIf="cliente.photoURL != null" src={{cliente.photoURL}}  alt="user profile picture" width="50" height="50" class="rounded-circle" loading="lazy">
                </a>
                <div class="dropdown-menu" aria-labelledby="perfilDropdown">
                    <a class="dropdown-item" [routerLink]="[ '/perfil/', cliente.uid ] ">Perfil</a>
                    <a class="dropdown-item" [routerLink]="[ '/perfil/', cliente.uid, 'mis-pedidos' ] ">Mis pedidos</a>
                    <a class="dropdown-item" [routerLink]="[ '/admin' ] ">dashboard</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a>
                </div>
            </li>
        </ul>
    </div>
  </div>
</nav>
