<div class="container">
  <div class="row" id="perfil-wrap">

    <div class="col-12 col-lg-4 mb-4">
      <div class="card border-light shadow">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Perfil</h5>
          <div> <!-- form -->
            <div class="form-row">
              <div class="form-group col-12">
                <input type="text" class="form-control" placeholder="user.name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <input type="text" class="form-control" placeholder="user.email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <div class="custom-file">
                  <input type="file" class="custom-file-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            </div>
          </div>
        </div><!-- form -->
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-light shadow">
            <div class="card-body">
              <h5 class="card-title">Domicilio</h5>
              <div><!-- form -->
                <div class="form-row">
                  <div class="form-group col-12">
                    <input type="text" class="form-control" placeholder="user.name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-12">
                    <input type="text" class="form-control" placeholder="user.email">
                  </div>
                </div>
              </div><!-- form -->
            </div>
          </div>
        </div>

        <div class="col-12">
            <div class="card border-light shadow">
                <div class="card-body">
                    <h5 class="card-title">Cambiar contraseña</h5>
                    <div><!-- form -->
                        <div class="form-row">
                            <div class="form-group col-12">
                            <input type="text" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                            <input type="text" class="form-control" placeholder="Contraseña">
                            </div>
                        </div>
                    </div><!-- form -->
                </div>
            </div>
        </div>
      </div> <!-- /row -->
    </div>

  </div> <!-- /row -->
</div> <!-- /container -->
